h1 {
  font-family: 'PT_Serif', serif;
}
a {
  font-family: 'Roboto';
}
body{
  margin: 0;
}
.wrapper{
  margin: auto;
  width: 80%;
}
.header{
  display: flex;
  justify-content: space-between;
}
.logo{
padding: 40px 0;
font: bold 24px/31px PT_Serif,arial,helvetica,sans-serif;
vidth: 190px;
height: 35px;
background: url('imj/logo.svg') center;
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  padding: 013px;
}
.menu__item: last-child{
  padding-right: 0;
}
